    p {
    font-family: Arial;
    color: gray;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    }

    .email {
        margin-bottom: 6px;
      }

    .agree {
    font-size: 12px;
    margin-bottom: 16px;
    }

    .survey {
    width: 200px;
    vertical-align: middle;
    display: inline-block;
    }

    